<li>
  <%= link_to post do %>
    <%= post.title %>
    <%= post.body %>
  <% end %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: t('views.confirm') }, remote:  true, class: 'delete-post' %>
</li>
