<!DOCTYPE html>
<html>
<head>
  <title><%= t 'title' %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <% if signed_in? %>
        <div class="nav navbar-nav">
          <span class="nav-link"><%= link_to t('views.posts'), posts_path %></span>
          <span class="nav-link"><%= link_to t('views.new_post'), new_post_path %></span>
          <span class="nav-link"><%= link_to t('views.show_profile'), user_path(current_user) %></span>
        </div>
        <div class="nav navbar-nav navbar-right">
          <span class="nav-link"><%= link_to t('views.logout'), logout_path, method: :delete %></span>
        </div>
      <% end %>
    </div>
  </nav>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
